@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0000ff;
  --dark-blue: #002db3;
  --light-blue: #bfcfff;
  --white: #ffffff;
  --black: #22223b;
  line-height: 2;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: var(--black);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
}

.link {
  color: var(--dark-blue);
  font-size: 12px;
}

.popup {
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  font-size: 14px;
  background: white;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-action {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
