@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
}
