@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0000ff;
  --dark-blue: #002db3;
  --light-blue: #bfcfff;
  --white: #ffffff;
  --black: #22223b;
  --green: #36b336;
  --red: #b33636;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: var(--black);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
}

.link {
  color: var(--dark-blue);
  font-size: 12px;
}

.popup {
  max-width: 500px;
  min-width: 500px;
  padding: 25px;
  border-radius: 10px;
  font-size: 14px;
  background: white;
  width: 100%;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.form-fld {
  margin: 25px 0 0 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .popup {
    max-width: 100%;
    min-width: 100%;
  }
}
